<!DOCTYPE html>
<html>
    <head>
        <title>Center Register</title>
    </head>
    <body>
        <h1>Center Register</h1> <br>
        Center Number : <input type="text" name="Center Number"> <br>
        Location : <input type="text" name="Location"><br>
        Many_Pet : <input type="text" name="Many_Pet"><br>
        Grade : <input type="text" name="Age"><br>
        Pet_Hospital : <input type="text" name="Pet_Hospital"><br>
        <input type='button' value='OK' onClick="location.href='OK'">
    </body>
</html>