<!DOCTYPE html>
<html>
    <head>
        <title>Client Register</title>
    </head>
    <body>
        <h1>Client Register</h1>
        <form action = "{{url_for('Client')}}" method='POST'>
            Phone Number : <input type="text" name="Phone Number"> <br>
            Experience : <input type="text" name="Experience"> Y/N<br>
            Have Many : <input type="text" name="Have Many"><br>
            Your Age : <input type="text" name="Age"><br>
            Your location : <input type="text" name="Location"><br>
            <input type='submit' value='OK' onCLick="location.href='Pet'"> 
        </form>
        <input type='submit' value='Cancel' onClick="location.href='home'">
        
    </body>
</html>