<!DOCTYPE html>
<html>
    <head>
        <title>Client Register</title>
    </head>
    <body>
        <h1>Client Register</h1>
        Phone Number : <input type="text" name="Phone Number"> <br>
        Experience : <input type="text" name="Experience"><br>
        Have Many : <input type="text" name="Have Many"><br>
        Your Age : <input type="text" name="Age"><br>
        Your location : <input type="text" name="Phone Number"><br>
        <input type='button' value='OK' onClick="location.href='Pet'">
    </body>
</html>