<!DOCTYPE html>
<html>
    <head>
        <style>
            body { 
                background-color: #808080;         
            }
            div {
                text-decoration: none;
                color: mediumaquamarine; 
                font-size:20px;
                border: 10px solid white;
            }
        </style>
    </head>
    <body>
        <h1>Pet List</h1>
        분양 받고자 하는 유기견의 번호를 입력하세요.
        <form action = "{{url_for('Pet')}}" method='POST'> 
            <input type="text" name="Pet Number"> 
            <input type='submit' value='OK'>
            <input type='button' value='Cancel' onClick="location.href='home'"> 
        </form>
        {% for i in Pet_List%}
        <div>
        유기견 번호 : {{i.Pet_Number}} <br>
        유기건 품종 : {{i.Species}} <br>
        유기견 나이 : {{i.Age}} <br>
        유기견 성별 : {{i.Sex}} <br>
        해당 유기견 보호센터 : {{i.Center_Number}} <br>
        </div>    
        {%endfor%}
        
    </body>
</html>